/* This code is licensed under the MIT License. Please see LICENSE.txt in the base directory for more information. */

.circle-loader {
	margin: 0 0 30px 10px;
	border: 2px solid rgba(0, 0, 0, 0.2);
	border-left-color: #5cb85c;
	animation-name: loader-spin;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	position: relative;
	display: inline-block;
	vertical-align: top;
	box-sizing: content-box;
}

.circle-loader,
.circle-loader:after {
	border-radius: 50%;
	width: 8em;
	height: 8em;
}

.load-complete {
	animation: none;
	border-color: #5cb85c;
	transition: border 500ms ease-out;
}

.load-error {
	animation: none;
	border-color: red;
	transition: border 500ms ease-out;
}

.checkmark {
	display: none;
	box-sizing: content-box;
}

.checkmark.draw:after {
	opacity: 1;
	height: 4em;
	width: 2em;
	transform-origin: left top;
	border-right: 2px solid #5cb85c;
	border-top: 2px solid #5cb85c;
	content: '';
	left: 2em;
	top: 4em;
	position: absolute;
	animation-duration: 1.2s;
	animation-timing-function: ease;
	animation-name: checkmark;
	transform: scaleX(-1) rotate(135deg);
	-webkit-transform: scaleX(-1) rotate(135deg);

}

.checkmark.error {
	position: absolute;
	left: 2em;
	top: 2em;
	width: 4em;
	height: 4em;
}

.checkmark.error:before, .checkmark.error:after {
	position: absolute;
	content: '';
	height: 4em;
	width: 2px;
  	left: 2em;
	background-color: #f00;
}

.checkmark.error:before {
  transform: scaleX(-1) rotate(135deg);
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-name: checkmark-error-1;
  -webkit-transform: scaleX(-1) rotate(135deg);
}

.checkmark.error:after {
  transform: scaleX(-1) rotate(45deg);
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-name: checkmark-error-2;
  -webkit-transform: scaleX(-1) rotate(45deg);
}

@keyframes checkmark-error-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes checkmark-error-2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-45deg);
  }
}

@keyframes loader-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes checkmark {
	0% {
		height: 0;
		width: 0;
		opacity: 1;
	}

	20% {
		height: 0;
		width: 2em;
		opacity: 1;
	}

	40% {
		height: 4em;
		width: 2em;
		opacity: 1;
	}

	100% {
		height: 4em;
		width: 2em;
		opacity: 1;
	}
}

h5 {
    text-align: center;
  }

  h2 {
    text-align: center;
    margin: 1.424rem 0 1.424rem 0
  }

  p.extrachance {
    text-align: center;
  }

.tga {
	cursor: pointer;
}

